<template>
    <h1>{{title}}</h1>
    <div class="total-show">
        <select @change="updateMemes">
            <option v-for="option in finalOptions" :value="option" :key="option" > 
                <template v-if="option == 100">All</template>
                <template v-else>{{option}}</template> </option>
        </select>
    </div>
    <div class="row">
        <template v-for="meme in memes" :key="meme.id">
            <Meme :meme="meme" />
        </template>
    </div>
</template>

<script>
import { onMounted, computed, ref } from 'vue';
import {useStore} from 'vuex';
import Meme from './Meme';
export default {
    props:{
        options:{
            type:Array,
            default:["10"]
        }
    },
    components:{
        Meme
        },
    setup({options}){
        const finalOptions = [100,...options]; 
        console.log(finalOptions);
        const maxMemes = ref(100);

        //llamamos el store para acceder a las variables globales
        const store = useStore();
        //utilizamos la clase computed para poner watchers sobre la variable y su contenido
        const memes = computed(() => {
            return store.state.memes
       } );
       
        //hook al montarse el componente ejecute una acción o metodo
        onMounted(() =>{
            store.dispatch("getMemes",{
                total: maxMemes.value,
            })
        });

        

        const updateMemes = (e)=>{
            maxMemes.value = e.target.value;
            store.dispatch("getMemes", {
                total: maxMemes.value,
            });
        }

        return{
            title: store.state.titleApp,
            memes,
            finalOptions,
            updateMemes
        }
    }

}
</script>

<style>
h1{
    text-align: center;
}
</style>