<template>
    <div class="meme col-3">
        {{name}}
        <img :src="url" :alt="name"/>
        
    </div>
</template>

<script>
export default {
    props:{
        meme:Object
    },
    setup({meme}){
        
        const {url, name} = meme;
        return{
            url,
            name
        }
    }
}
</script>

<style>

.meme{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #ddd;
}

.meme img{
    max-height: 200px;
    max-width: 250px;
}

</style>