<template>
<div class="container">
<ListMemes :options = "[5,10,20]"/>
</div>

</template>

<script>
import {useStore} from "vuex";
import ListMemes from './components/ListMemes'
export default {
  name: 'App',
  components:{
    ListMemes
  },
  setup(){
    const store = useStore();
    //console.log(store.state.titleApp);
    return{
        ...store.state,
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
